:root {
    /* Fundos das Seções - Modo Escuro */
    --bg-hero-image: url('https://images.unsplash.com/photo-1513519245088-0e12902e5a38?q=80&w=2070');
    --bg-body: #1c1917;
    --bg-hero-overlay: rgba(28, 25, 23, 0.7);
    --bg-diferenciais: #292524;
    --bg-servicos: #44403c;
    --bg-footer: #0c0a09;

    /* Cores de Destaque */
    --cor-primaria: #fbbf24;
    --cor-botao: #b45309;
    --cor-botao-hover: #92400e;
    
    /* Cores de Texto - Modo Escuro */
    --texto-principal: #e7e5e4;
    --texto-titulo: #ffffff;
    --texto-suave: #d6d3d1;
}

/* Padrão de forro de telhado escuro - Modo Escuro */
body {
    background-image: url('../imagens/fundo.avif');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1c1917;
}