:root {
    /* Fundos das Seções da Página de Portfólio */
    --bg-portifolio-hero: url('https://images.unsplash.com/photo-1513519245088-0e12902e5a38?q=80&w=2070');
    --bg-portifolio-body: #1c1917; /* stone-900 */
    --bg-gallery-card: #292524;    /* stone-800 */

    /* Cores de Destaque */
    --cor-primaria: #fbbf24;    /* amber-500 */

    /* Cores de Texto */
    --texto-principal: #e7e5e4; /* stone-200 */
    --texto-titulo: #ffffff;
    --texto-suave: #a8a29e;     /* stone-400 */

    --overlay-hero: rgba(28, 25, 23, 0.8);
}

.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }